body{
    background-color: aquamarine;
    font-size: 28px;
};
.img1{
    height: 90px;
    width: 100px;
}

.sas{
font-size: 19;
};

.walking{
    font-size: 40px;
};

.soup{
    font-size: 40px;
    

};
